
}
nav{
	background-color: yellow;
	display:inline-block;
}
header{
	text-align: center;
}
h1 {
	font-family: 'Overlock SC', cursive;
	color: rgba(116, 12, 186, .8);
}
h2{
	font-family: 'Overlock SC', cursive;
	color: rgba(116, 12, 186, .7)
}
p{
	font-family: 'Kite One', sans-serif;
	text-align: left;
	font-size: 125%;
	color: rgba(116, 12, 186, .5)
}
footer{
	font-family: 'Pacifico', cursive;
	background-color: orange;
	clear:both;
	text-align: center;
	text-decoration: none;
}
.board {
	height: 50%; 
	width: 50%;
}
.card {
	height: 200px; 
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 8%;	
}
.navbar{
	font-family: 'Overlock SC', cursive;
	text-decoration: none;
	color: white;
	background-color: #ffbf00;
	padding: 35px;
	display:inline-block;
	float:left;
}
a:hover{
	background-color: purple;
	color:#C7E867;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}
div.image {
    content:url(https://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-delirium-1_large.png?v=1462124739);
    height: 200px; 
	width: 150px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 8%;	
	float: left
}​
#topleft{
	
	float:left;
	margin-bottom: 100px; 
	
}
#topright{
	
	float:left;
	margin-bottom: 100px; 
    
}
#bottomleft{
	clear:left;
	float:left
}
#bottomright{
	clear:right;
	float:left;
	
}
#name {
	color: purple;
}
#socialmedia {
	text-decoration: none;
	font-family: 'Overlock SC', cursive;
	clear:both;
	text-align: center;
	color:#C7E867;
}

#bottomline {
	color: white;
}





